$color-black: #000;
$color-white: #fff;
$color-grey: #858585;
$color-grey-light: #F9F9F9;
$color-green: #8BC73F;
$color-green-2: #259B97;
$color-blue: #62629B;
$color-blue-2: #292D49;
$color-blue-dark: #1B2136;
$color-grey-light: #ECECEC;
$color-grey-light-bg: #FAFAFA;